<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appsorteio">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/cinexplainFullScream">
        <activity
            android:name=".avaliacao"
            android:exported="true" />
        <activity
            android:name=".entrar"
            android:exported="true" />
        <activity
            android:name=".entre"
            android:exported="true" />
        <activity
            android:name=".Cad"
            android:exported="true" />
        <activity android:name=".filme9" />
        <activity android:name=".filme8" />
        <activity android:name=".filme7" />
        <activity android:name=".filme6" />
        <activity android:name=".filme5" />
        <activity android:name=".filme4" />
        <activity android:name=".filme3" />
        <activity android:name=".filme2" />
        <activity android:name=".filme1" />
        <activity android:name=".MenuTela" />
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>